.last-score-card {
  display: flex;
  justify-content: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }

  .score-con {
    background-color: white;
    border-radius: 20px;
    padding: 10px 30px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
      margin: 0 20px;
      margin-bottom: 0px;
      padding: 10px 50px;
    }

    h5 {
      padding: 0;
      margin: 0;
      font-size: 16px;
      font-weight: 600;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @media screen and (min-width: 768px) {
        font-size: 22px;
      }

      span {
        text-align: center;
      }
    }
  }
}

.last-score-section {
  h2 {
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    color: #fff;

    @media screen and (min-width: 768px) {
      font-size: 26px;
      margin-top: 50px;
    }
  }
}
