/* body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif !important;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("../public/img/bg.jpg");
} */

.dies-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
}

.die-box {
  padding: 5px 40px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-color: white;
}

.die-box:hover {
  cursor: pointer;
}

.btn {
  margin-top: 50px;
  background-color: aqua;
  border: 2px solid aqua;
  border-radius: 15px;
  padding: 10px 50px;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 5px;
  font-family: "Poppins", sans-serif;
}

.btn:hover {
  cursor: pointer;
  background-color: aliceblue;
  border-color: aqua;
}

.isHeld {
  background-color: aqua;
}

.side-bar {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
}
